<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>创造你的调查员</title>
  <link rel="stylesheet" href="stylesheet/Attribute.css">
</head>

<body>
  <div id="menu">
    <div class="logo">
      <a class="logo" href="index.html">Call of Cthulhu</a>
    </div>
  </div>
  <div id="app">
    <div id="div1">
      <div class="attrs">
        <div class="attr" v-for="attr in attrs">
          <div class="name">{{ attr.name }}</div>
          <div class="value">
            <button class="dec" @click="sub(attr)"><span></span>
              <div>-</div>
            </button>
            <p>{{ attr.value }}</p>
            <button class="add" @click="add(attr)">
              <div>+</div><span></span>
            </button>
          </div>
        </div>
        <div class="mov">
          <div class="name">移动</div>
          <div class="value">{{ moveValue }}</div>
        </div>
        <button @click="rollAttrs"><span></span>
          <div>随机属性</div><span></span>
        </button>
      </div>
      <div id="dscr">
        <h4>你的人物特征</h4>
        <ul>
          <li v-for="attr in attrs">{{ attr.currentText }}</li>
        </ul>
      </div>
      <div class="attr">
        <div id="attrs2">
          <div class="attr" v-for="attr in attrs2">
            <div class="name">{{ attr.name }}: </div>
            <div class="value">{{ attr.value }}</div>
          </div>
          <button @click="rollLucky"><span></span>
            <div>试试运气</div><span></span>
          </button>
        </div>
        <div id="damage">
          <div class="attr">
            <div class="name">伤害加值：</div>
            <div class="value">{{ dbPlusValue }}</div>
          </div>
          <div class="attr">
            <div class="name">体格：</div>
            <div class="value">{{ damageAndBody.body }}</div>
          </div>
        </div>
      </div>
    </div>
    <button @click="submit" style="color:black;" id="submit"><span></span>
      <div>提交</div><span></span>
    </button>
  </div>
  <!-- 开发环境版本，包含了有帮助的命令行警告 -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
  <script src="javascripts/Attribute.js"></script>
</body>

</html>
