<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>创造你的调查员</title>
  <link rel="stylesheet" href="stylesheet/Information.css">
</head>

<body>
  <div id="menu">
    <div class="logo">
      <a class="logo" href="index.html">Call of Cthulhu</a>
    </div>
  </div>
  <div id="body">
    <div id="app">
      <div class="info" v-for="infor in infors">
        <p class="name">{{ infor.name }}:</p>
        <label :class="infor.name">
          <input type="text" class="value" v-model="infor.value">
        </label>
      </div>
      <button @click="submit"><span></span>
        <div>提交</div><span></span>
      </button>
    </div>
    <div id="job">
      <p class="jobName">{{ job.name }}</p>
      <p class="description">{{ job.description }}</p>
      <p class="skillPoint">本职技能点: {{ job.skillPoint }}</p>
      <p class="belief">信誉范围: {{ job.belief.max }} ~ {{ job.belief.min }}</p>
      <p class="relationship">推荐关系人: {{ job.relationShip }}</p>
      <div class="jobSkill">
        <p>本职技能: |</p>
        <p v-for="skill in job.proSkill">{{ skill }}| </p>
      </div>
    </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
<!--    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
<!--    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>-->
    <script src="javascripts/vue.js"></script>
    <script src="javascripts/axios.min.js"></script>
    <script src="javascripts/Information.js"></script>
  </div>
</body>

</html>
