<!doctype html>
<html lang="zh_CN">

<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <title>创造你的调查员</title>
    <link href="stylesheet/character.css" rel="stylesheet" />
    <link href="stylesheet/skill.css" rel="stylesheet" />
</head>

<body>
    <div id="menu">
        <div class="logo">
            <a class="logo" href="index.html">Call of Cthulhu</a>
        </div>
    </div>

    <div id="skills" onmouseover="setShowPoint(true)" onmouseout="setShowPoint(false)">
        <transition name="slide-fade">
            <div class="skillPoint" v-show="showPoint">
                <div>
                    <span class="beforeS"></span>
                    <p class="pointName">
                        职业技能点
                    </p>
                    <span class="sperate">
                        <p>
                            :
                        </p>
                    </span>
                    <p class="pointValue">
                        {{ residualProfesPoint }}/{{ profesPoint }}
                    </p>
                </div>
                <div>
                    <span class="beforeS"></span>
                    <p class="pointName">
                        兴趣技能点
                    </p>
                    <span class="sperate">
                        <p>
                            :
                        </p>
                    </span>
                    <p class="pointValue">
                        {{ residualInterestPoint }}/{{ interestPoint }}
                    </p>
                </div>
            </div>

            <!--<div class="skillPoint" v-else>
              <div><span class="beforeS"></span><span style="display:none;"></span></div>
              <div><span class="beforeS"></span><span style="display:none;"></span></div>
            </div>-->
        </transition>

        <div class="skill">
            <div>
                <div class="name">
                    {{ descrip.name }}
                </div>
            </div>
            <div class="probability">
                {{ descrip.probability }}
            </div>
            <div class="profes">
                {{ descrip.profession }}
            </div>
            <div class="inter">
                {{ descrip.inter }}
            </div>
            <div class="finalValue">
                {{ descrip.finalValue }}
            </div>
        </div>

        <div class="skill" v-for="skill in skills">
            <div>
                <div class="name" @mouseover="skill.showDescrip=true" @mouseout="skill.showDescrip=false">
                    {{ skill.name }}
                </div>
                <div v-show="skill.showDescrip" class="descripdiv">
                    <div class="descrip">
                        {{ skill.description }}
                    </div>
                    <div class="levelDescrip">
                        <div class="descrip">
                            {{ skill.levelDescription }}
                        </div>
                        <div class="normalLevel">
                            普通难度: {{ skill.normalLevel }}
                        </div>
                        <div class="hardLevel">
                            困难难度: {{ skill.hardLevel }}
                        </div>
                        <div class="allEgg">
                            极难难度: {{ skill.allEgg }}
                        </div>
                        <div class="allEggBreak">
                            孤注一掷: {{ skill.allEggBreak }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="probability">
                {{ skill.probability }}
            </div>
            <div class="profes">
                <button class="dec" @click="sub(skill, 'profes', 1)" @click.ctrl="sub(skill, 'profes', 9)"><span></span>
                    <div>
                        -
                    </div>
                </button>
                <label>
                    <input v-model="skill.profession" type="number" class="value" />
                </label>
                <button class="add" @click="add(skill, 'profes', 1)" @click.ctrl="add(skill,'profes', 9)">
                    <div>
                        +
                    </div>
                    <span></span>
                </button>
            </div>
            <div class="inter">
                <button class="dec" @click="sub(skill, 'inter', 1)" @click.ctrl="sub(skill, 'inter', 9)"><span></span>
                    <div>
                        -
                    </div>
                </button>
                <label>
                    <input v-model="skill.interest" type="number" class="value" />
                </label>
                <button class="add" @click="add(skill, 'inter', 1)" @click.ctrl="add(skill, 'inter', 9)">
                    <div>
                        +
                    </div>
                    <span></span>
                </button>
            </div>
            <div class="finalValue">
                {{ skill.finalValue }}/{{ Math.floor(skill.finalValue/2) }}/{{ Math.floor(skill.finalValue/5) }}
            </div>
        </div>
    </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<!--    <script src="javascripts/vue.js"></script>-->
<!--    <script src="javascripts/axios.min.js"></script>-->
    <script src="javascripts/skill.js"></script>
</body>

</html>
