@import url("fonts.css");

* {
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url("/resource/mad.jpg"); */
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#body {
    position: relative;
}

#title {
    color: #13964e;
    font-family: 'RabbitsHole', serif;
    /* font-family: 'ChickenScratchAOE'; */
    /* font-family: 'MicroBrew'; */
    font-size: 128px;
}

#bottom {
    color: #13964e;
    font-family: 'LanZhuFeng', serif;
    font-size: 36px;
    border: 1px solid #13964e;
    width: 50%;
    border-radius: 25px;
    padding: 15px;
    text-decoration: none;
}

#bottom:hover {
    box-shadow: 0 0 10px #13964e,
    0 0 20px #13964e;
}

#bottom:active {
    animation: shank 0.5s forwards;
}

@keyframes shank {
    0% {
        text-shadow: 0 0 10px #13964e;
    }

    10% {
        text-shadow: 0 0 10px #13964e,
        0 0 20px #13964e,
        0 0 40px #13964e,
        0 0 80px #13964e,
        0 0 160px #13964e;
    }

    100% {
        text-shadow: 0px 0px 10px #13964e,
        0 0 20px #13964e,
        0 0 40px #13964e,
        0 0 80px #13964e,
        0 0 160px #13964e;
    }
}

@keyframes lightScan {
    0% {
        text-shadow: 0 0 10px #13964e,
        0 10px 20px #13964e,
        0 20px 30px #13964e;
    }

    50% {
        text-shadow: 0 0 10px #13964e,
        0 -10px 20px #13964e,
        0 -20px 30px #13964e;
    }

    100% {
        text-shadow: 0 0 10px #13964e,
        0 10px 20px #13964e,
        0 20px 30px #13964e;
    }
}
