
#body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*.value > * {*/
/*    display: inline;*/
/*}*/

#information, #job {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
}

#information > *, #job > * {
    color: #13964e;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

input, select {
    border-width: 0 0 0 0;
    outline: none;
    background-color: transparent;
    color: #13964e;
    border-bottom: 1px solid #114c26;
    text-align: center;
    -webkit-appearance: textfield;
}

input:focus, select:focus {
    border-bottom-color: #15c76f;
}

#jobInput:after {
    content: "";
    width: 10px;
    height: 10px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #13964e;
    display: inline-block;
    transform: rotate(45deg);
}

.input {
    display: flex;
}

.input input {
    width: 9em;
}

.jobSkill {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
